.button {
  width: 464px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #1c92d2;
  box-shadow: 0px 2px 10px 0px rgba(28, 146, 210, 0.25),
    0px -2px 10px 0px rgba(28, 146, 210, 0.25);
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  border: none;
  cursor: pointer;
}
